.case-container {
  background-color: #303030;
  overflow-x: hidden;
  user-select: none;
}

.card-container {
  display:inline-block;
}

.spinner {
  white-space: nowrap;
  will-change: transform;
  transition: transform 1.5s ease-out;
}

.card-winning {
  animation: winning-card-keyframes .5s;
  animation-fill-mode: forwards;
  animation-delay: 1.25s;
  z-index: 2;
}

@keyframes winning-card-keyframes {
  0% { transform: scale(1.0); }
  100% { transform: scale(1.4); }
}
