.case-container {
  background-color: #303030;
  overflow: scroll;
  user-select: none;
}

.card-container {
  display:inline-block;
}

.spinner {
  white-space: nowrap;
  will-change: transform;
  transition: transform 9.5s cubic-bezier(.3,.9975,.3,.9975);
}
