.case-container {
  background-color: #303030;
  overflow: hidden;
  user-select: none;
  border-radius: 1rem 1rem 0 0;
}

.card-container {
  display: inline-block;
}

.spinner {
  white-space: nowrap;
  will-change: transform;
  transition: transform 9.5s ease-out;
}

.card-winning {
  animation: winning-card-scale-keyframes .5s;
  animation-fill-mode: forwards;
  animation-delay: 9.25s;
  z-index: 2;
}

@keyframes winning-card-scale-keyframes {
  0% { transform: scale(1.0); }
  100% { transform: scale(1.4); }
}


.card-winning::before {
  background-color: rgba(25, 99, 199, 0.2);
  background: url('http://scripty2.com/images/rays-main.png') no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  animation-delay: 9.25s !important;
  animation: winning-card-burst-keyframes 2.5s linear infinite;
}

@keyframes winning-card-burst-keyframes {
  0% { transform: rotate(0deg) scale(3); opacity: 0.5; }
  100% { transform: rotate(360deg) scale(3); opacity: 1; }
}

.spin-button {
  border-radius: 0 0 1rem 1rem;
}
